#form-container {
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
 
#form-box {

    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

#form-box img{
    display: block;
    width: 90px;
    height: 90px;
    margin: 10px auto;
}