.main {
    display: flex;
    background-color: #ecf0f5;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}
 
.content {
    width: 100%;
    padding-top: 20px;
}

.panel{
  margin:15px;
}

nav.navbar{
    margin: 0;
    border-radius: 0;
}
.navbar-toggle{
    display: inline-block;
    margin-left: 10px;
}

.menu {
    width: 0px;
    padding-bottom: 500em;
    margin-bottom: -500em;
    height: 100%;
    border-top: 1px solid #333;
    background-color: #222;
    flex-shrink: 0;
    overflow: hidden;
    transition: width .5s;
    }
    
    .menu.menu-open {
    width: 250px;
    }
    
    .menu ul {
       list-style: none;
       padding: 0px 0px;
    }
    
     .menu ul li.active {
       background-color: #080808;
    }
    
    .menu ul li a {
      display: block;
       color: #9d9d9d;
       padding: 10px 15px;
       white-space: nowrap;
       text-decoration: none;

    }

    .menu ul li ul li a{
      text-indent: 5px;
    }

    .menu ul li ul li:hover{
      border-left: 2px solid green;

    }

    .menu ul li a i {
      margin-right: 5px;
    }
    
   .menu ul li:hover a,
     .menu ul li.active a {
       color: white;
       background-color: #111;
       border-left: 3px solid green;
    }


.show-menu{
  overflow: hidden;
  height: 80px;
  transition: 1s;
}

.hide-menu{
  overflow: hidden;
  height: 0px;
  transition: 1s;
}

.btn {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 13px;
}

.form-control {
  height: 34px;
}

.panel-info > .panel-heading {
background: #04BC4A; color: #fff; }

.pesq{
  margin-top: 5px;
}

.label.label-danger{
  font-size:15px;
}

.label.label-success{
  font-size:15px;
}

@media (max-width: 800px) {
  .scroll-table{
  overflow-x: auto;
}

  
} 
